# Data Science Tools and Ecosystem

#Introduction

In this notebook, Data Science Tools and Ecosystem are summarized.

Some of the popular languages that Data Scientists use are:

1. Python
2. R
3. SQL

Some of the commonly used libraries used by Data Scientists include:

1. Numpy
2. Pandas
3. Matplotlib

|Data Science Tools|
|------------------|
|Jupyter Notebooks |
| VSCode (Visual Studio Code)|
| RStudio|

### Below are a few examples of evaluating arithmetic expressions in Python

In [4]:
#This a simple arithmetic expression to mutiply then add integers

(3*4)+5

17

In [5]:
#This will convert 200 minutes to hours by diving by 60


print(200/60,"hours")

3.3333333333333335 hours

**Objectives:**

- R
- Python
- JupyterNoteBook
- JupyterLab

## Author

Titouan Dallemagne